.App {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table {
    font-size: 40px;
    padding: 100px;
    background-color: #09cadb;
    margin-bottom: 20px;
}

.tableRed {
    color: red;
    font-size: 40px;
    padding: 100px;
    background-color: #09cadb;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.button {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: #66a544;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    transition: all 0.2s ease-out;
}

.button:hover {
    background-color: #66c36e;
}

.button:active {
    background-color: #396639;
}
